.recent-transactions {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.recent-transactions h1 {
  color: #333;
  margin: 0;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
}

.search-container input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #4b77da;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3960a6;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f7f7f7;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.add-transaction-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  margin-bottom: 1em;
  margin-top: 2em;
}

.add-transaction-form input,
.add-transaction-form select,
.add-transaction-form button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-transaction-form button {
  background-color: #34c759;
  color: white;
  border: none;
  cursor: pointer;
}

.add-transaction-form button:hover {
  background-color: #30a850;
}

.download-button {
  background-color: #4b77da;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #3960a6;
}
