.recent-transactions {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
}

.recent-transactions h1 {
  color: #333;
  margin-bottom: 1em;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.search-container input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.search-button {
  background-color: #4b77da;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

thead {
  background-color: #f7f7f7;
}

th,
td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.pagination select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.pagination-controls button {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.download-button {
  background-color: #4b77da;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  text-align: center;
}
