.my-wallet {
  font-family: "Arial", sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.my-wallet h1 {
  color: #333;
  margin-bottom: 0.5em;
}

.my-wallet p {
  color: #666;
  margin-bottom: 2em;
}

.wallet-info {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  transition: transform 0.2s ease-in-out;
}

.wallet-info:hover {
  transform: translateY(-5px);
}

.main-wallet {
  background-color: #4b77da;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sub-wallet {
  background-color: #ffffff;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.wallet-header h2 {
  margin: 0;
  font-weight: normal;
}

.balance {
  font-size: 2em;
  font-weight: bold;
}

.actions {
  text-align: right;
}

.payment-action {
  background-color: #34c759;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payment-action:hover {
  background-color: #30a850;
}

.create-wallet-action {
  text-align: center;
  margin-top: 20px;
}

.create-wallet-action button {
  background-color: #2086c7;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-wallet-action button:hover {
  background-color: #1a6a96;
}

.wallet-info.main-wallet .wallet-header h2,
.wallet-info.main-wallet .balance {
  color: #fff;
}

.wallet-info:not(.main-wallet) .wallet-header h2,
.wallet-info:not(.main-wallet) .balance {
  color: #333;
}
